/.github/ @bac-principal/gcom-devops
/sonar-project.properties @bac-principal/gcom-devops
/sonar-project.txt @bac-principal/gcom-devops
/catalog-info.yaml @bac-principal/gcom-devops
/mkdocs.yaml @bac-principal/gcom-devops
